<PageLayout ShowNavbar="false">
    <h3 class="title has-text-centered">@(IsSetup ? "Admin erstellen" : "Anmelden")</h3>

    @if (ErrorMessage is not null)
    {
        <div class="notification is-danger">
            @ErrorMessage
        </div>
    }

    <form method="post" action="/login">
        <div class="field">
            <label class="label" for="username">Benutzername</label>
            <div class="control">
                <input id="username" class="input" type="text" name="Username" required />
            </div>
        </div>

        <div class="field">
            <label class="label" for="password">Passwort</label>
            <div class="control">
                <input id="password" type="password" class="input" name="Password" required />
            </div>
        </div>

        @if (IsSetup)
        {
            <div class="field">
                <label class="label" for="password-confirm">Passwort wiederholen</label>
                <div class="control">
                    <input id="password-confirm" type="password" class="input" name="PasswordConfirmation" required />
                </div>
            </div>
        }

        <div class="field">
            <button type="submit" class="button is-primary is-fullwidth">
                @(IsSetup ? "Erstellen" : "Anmelden")
            </button>
        </div>
    </form>
</PageLayout>

@code {
    [Parameter] public bool IsSetup { get; set; }
    [Parameter] public string? ErrorMessage { get; set; }
}
